{% extends 'include_html/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"/>
    <link rel="stylesheet" href="{% static 'css/cards-gallery.css' %}">
{% endblock %}
{% block body %}
   <p> <strong>BD. LIFT LIMITED</strong> was established in 2003 and the company is currently undergoing an expansion.</p>
    <p>BD. LIFT LIMITED follows its founder’s principles that have been the key to the development of its industry
        standards in safety and service. We have built partnership with a number of foreign companies such as
        Thyssenkrup, KOYO ELEVATOR COMPANY LTD(CHINA/HONGKONG, Elevator and Escalator), ASIA FUJI CHANGLIN ( China,
        Elevator and Escalators), SODIMAS (Turkey, Elevator and Escalator). This is to show we bring nothing but the
        best from around the globe.</p>

    <p>Our task is to source the best and widest range of elevators from around the globe and allow our clients to select
    from not only a handful but a great variety of specifications and range of elevator products. No matter if it’s a
    heavy duty freight or just apartment elevator, we can always ensure that our clients have the best from the global
        market.</p>

    <p>Each and every component has been carefully selected and tested by us to comply with standards and we ensure optimal
    performance and maximum client satisfaction in terms of technicality and cosmetics. Our equipments are the best in
    range in terms of price and quality and major leading development firms and industries have worked with us for their
        modernization works and granted us to be their associates.</p>

    <p>With decades of experience and with a pioneering team of highly competent work force and personnel we deliver every
        bit of promise to our clients and provide service without any hassle.</p>

    <p>The company is proud to be today’s one of the leading elevator companies in the country. Our reputation exceeds us
    for design and manufacture selection, sales and marketing, client handling, supply and maintenance of all kinds of
    lifts. We also offer a unique service of replacing/combining old elevators with new technology so that it’s cost
    effective and they can remain in service. We also consider maintenance of elevators that are of others brand than
        our own.</p>
{% endblock %}
